.content:not(.custom) {
    max-width: 100%;
}

.sidebar-group ul {
    display: none;
}

.sidebar-group ul ul {
    display: block;
}

.admonition {
    background-color: #aadfa7;
    border-color: #336a1f;
}